# @todo there are some features in clang-format 22 regarding line breaks that we should look into.
#     See BreakAfter*

BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
PPIndentWidth: 1
TabWidth: 4
UseTab: Never
ColumnLimit: 120

PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: LeftWithLastLine
# AlignConsecutiveShortCaseStatements: true
AlignOperands: AlignAfterOperator
AlignTrailingComments: Always

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

BitFieldColonSpacing: Both

BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true

IncludeBlocks: Preserve

IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentWrappedFunctionNames: false

InsertBraces: true
InsertNewlineAtEOF: false

KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
MaxEmptyLinesToKeep: 1

ReflowComments: true

RemoveBracesLLVM: false
RemoveParentheses: ReturnStatement
RemoveSemicolon: true

SeparateDefinitionBlocks: Always

SkipMacroDefinitionBody: false

SortIncludes: CaseSensitive

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInParens: Never
SpacesInSquareBrackets: false
