# @todo there are some features in clang-format 22 regarding line breaks that we should look into.
#     See BreakAfter*

BasedOnStyle: LLVM

Language: Cpp # this is also for C

IndentWidth: 4
ContinuationIndentWidth: 4
PPIndentWidth: 1
TabWidth: 4
UseTab: Never
ColumnLimit: 120
MaxEmptyLinesToKeep: 1

PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
# AlignConsecutiveShortCaseStatements: true
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
# AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

BitFieldColonSpacing: Both

AlwaysBreakBeforeMultilineStrings: true # we can set this to false if we can force a way to break after open paren in function call
BreakBeforeBraces: Attach
BreakAdjacentStringLiterals: true
BreakStringLiterals: true
BreakBeforeTernaryOperators: true
# BreakAfterOpenBracketIf: true

IncludeBlocks: Preserve

IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentWrappedFunctionNames: false

InsertBraces: true
InsertNewlineAtEOF: false

KeepEmptyLinesAtEOF: false
KeepEmptyLinesAtTheStartOfBlocks: false

ReflowComments: true

RemoveBracesLLVM: false
RemoveParentheses: ReturnStatement
RemoveSemicolon: true

SeparateDefinitionBlocks: Always

SkipMacroDefinitionBody: false

SortIncludes: CaseSensitive

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInParens: Never
SpacesInSquareBrackets: false
